<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprintcss/blueprint/screen', :media => 'screen.css' %>
    <%= stylesheet_link_tag 'blueprintcss/blueprint/print',  :media => 'print.css' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
